@using PupUp.Helpers.Extensions
@using PupUp.Services
@using PupUp.Models.Trainings.Enums
@using System.Security.Claims
@using System
@inject TrainingService traningService
@{
    ViewData["Title"] = "Profil Page";
    ViewData["Profil"] = "nav-active";
    var dogs = ViewData["Dogs"] as IEnumerable<PupUp.Models.Dogs.Dog>;
    var quests = ViewData["Quests"] as IEnumerable<PupUp.Models.Quests.Quest>;
    var badges = ViewData["Badges"] as IEnumerable<PupUp.Models.Badges.Badge>;
    var userQuests = ViewData["UserQuests"] as IEnumerable<PupUp.Models.Quests.UserQuest>;
    var userBadges = ViewData["UserBadges"] as IEnumerable<PupUp.Models.Badges.UserBadge>;
    var events = ViewData["Events"] as IEnumerable<PupUp.Models.Events.PupUpEvent>;
    var coin = (long)ViewData["Coin"];
}
@section Styles {
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
<link rel="stylesheet" href="~/css/site_profil.css" />
}

<div class="app-container">
    <div class="app-content">
        <button class="messages-btn">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-message-circle">
                <path d="M21 11.5a8.38 8.38 0 0 1-.9 3.8 8.5 8.5 0 0 1-7.6 4.7 8.38 8.38 0 0 1-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 0 1-.9-3.8 8.5 8.5 0 0 1 4.7-7.6 8.38 8.38 0 0 1 3.8-.9h.5a8.48 8.48 0 0 1 8 8v.5z" />
            </svg>
        </button>
        <div class="projects-section">
            <div class="tabs">
                <div class="tab-3">
                    <label for="tab3-1">Dogs</label>
                    <input id="tab3-1" name="tabs-three" type="radio" checked="checked">
                    <div>
                        <div class="projects-section-header">
                            <p>Statuses</p>
                            <p>Coins: @coin</p>
                            <a asp-controller="Dog" asp-action="Create" style="font-size: xx-large; margin-left: 5px;">
                                <i class="fa-solid fa-plus"></i>
                            </a>
                        </div>
                        <div class="projects-section-line">
                            <div class="view-actions">
                                <button class="view-btn list-view-1" title="List View">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                                        <line x1="8" y1="6" x2="21" y2="6" />
                                        <line x1="8" y1="12" x2="21" y2="12" />
                                        <line x1="8" y1="18" x2="21" y2="18" />
                                        <line x1="3" y1="6" x2="3.01" y2="6" />
                                        <line x1="3" y1="12" x2="3.01" y2="12" />
                                        <line x1="3" y1="18" x2="3.01" y2="18" />
                                    </svg>
                                </button>
                                <button class="view-btn grid-view-1 active" title="Grid View">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                                        <rect x="3" y="3" width="7" height="7" />
                                        <rect x="14" y="3" width="7" height="7" />
                                        <rect x="14" y="14" width="7" height="7" />
                                        <rect x="3" y="14" width="7" height="7" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="project-boxes box-1 jsGridView">
                            @{
                                foreach (var dog in dogs)
                                {
                                    var percent = traningService.GetDogPercent(dog.Id);
                                    <div class="project-box-wrapper">
                                        <div class="project-box">
                                            <div class="project-box-header">
                                                <span>Age: @dog.Age | Gender: @Html.DisplayTextFor(m => @dog.Gender)</span>
                                                <div class="more-wrapper">
                                                    <div class="more-wrapper">
                                                        <a asp-controller="Dog" asp-action="Edit" asp-route-id="@dog.Id" class="project-btn-more">
                                                            <i class="fa-solid fa-pen"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="project-box-content-header">
                                                <a asp-controller="Dog" asp-action="Dog" asp-route-id="@dog.Id" class="box-content-header">@Html.DisplayFor(model => dog.Name)</a>
                                                <p class="box-content-subheader">@Html.DisplayFor(model => dog.Type)</p>
                                            </div>
                                            <div class="box-progress-wrapper">
                                                <p class="box-progress-header">Progress</p>
                                                <div class="box-progress-bar">
                                                    <span class="box-progress" style="width: @percent%; background-color: var(--turquise)"></span>
                                                </div>
                                                <p class="box-progress-percentage">@percent%</p>
                                            </div>
                                            <div class="project-box-footer">
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-3">
                    <label for="tab3-2">Quests</label>
                    <input id="tab3-2" name="tabs-three" type="radio">
                    <div>
                        <div class="projects-section-header">
                            <p>Statuses</p>
                        </div>
                        <div class="projects-section-line">
                            <div class="view-actions">
                                <button class="view-btn list-view-2" title="List View">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                                        <line x1="8" y1="6" x2="21" y2="6" />
                                        <line x1="8" y1="12" x2="21" y2="12" />
                                        <line x1="8" y1="18" x2="21" y2="18" />
                                        <line x1="3" y1="6" x2="3.01" y2="6" />
                                        <line x1="3" y1="12" x2="3.01" y2="12" />
                                        <line x1="3" y1="18" x2="3.01" y2="18" />
                                    </svg>
                                </button>
                                <button class="view-btn grid-view-2 active" title="Grid View">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                                        <rect x="3" y="3" width="7" height="7" />
                                        <rect x="14" y="3" width="7" height="7" />
                                        <rect x="14" y="14" width="7" height="7" />
                                        <rect x="3" y="14" width="7" height="7" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="project-boxes box-2 jsGridView">
                            @{
                                foreach (var quest in quests)
                                {
                                    var userQuest = userQuests.FirstOrDefault(u => u.QuestId == quest.Id);
                                    <div class="project-box-wrapper">
                                        <div class="project-box">
                                            <div class="project-box-header">
                                                @if (userQuest != null)
                                                {
                                                    <span>State: @Html.DisplayTextFor(m => userQuest.State)</span>
                                                }
                                                else
                                                {
                                                    <span>State: Locked</span>
                                                }
                                            </div>
                                            <div class="project-box-content-header">
                                                <p class="box-content-header">@Html.DisplayFor(model => quest.Name)</p>
                                                <p class="box-content-subheader">@Html.DisplayFor(model => quest.Description)</p>
                                            </div>
                                            <div class="project-box-footer">
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
                <div class="tab-3">
                    <label for="tab3-3">Badgets</label>
                    <input id="tab3-3" name="tabs-three" type="radio">
                    <div>
                        <div class="projects-section-header">
                            <p>Statuses</p>
                        </div>
                        <div class="projects-section-line">
                            <div class="view-actions">
                                <button class="view-btn list-view-3" title="List View">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-list">
                                        <line x1="8" y1="6" x2="21" y2="6" />
                                        <line x1="8" y1="12" x2="21" y2="12" />
                                        <line x1="8" y1="18" x2="21" y2="18" />
                                        <line x1="3" y1="6" x2="3.01" y2="6" />
                                        <line x1="3" y1="12" x2="3.01" y2="12" />
                                        <line x1="3" y1="18" x2="3.01" y2="18" />
                                    </svg>
                                </button>
                                <button class="view-btn grid-view-3 active" title="Grid View">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-grid">
                                        <rect x="3" y="3" width="7" height="7" />
                                        <rect x="14" y="3" width="7" height="7" />
                                        <rect x="14" y="14" width="7" height="7" />
                                        <rect x="3" y="14" width="7" height="7" />
                                    </svg>
                                </button>
                            </div>
                        </div>
                        <div class="project-boxes box-3 jsGridView">
                            @{
                                foreach (var badge in @badges)
                                {
                                    var userBadge = userBadges.FirstOrDefault(u => u.BadgeId == badge.Id);
                                    <div class="project-box-wrapper">
                                        <div class="project-box">
                                            <div class="project-box-header">
                                                <span>@Html.DisplayTextFor(m => badge.Name)</span>
                                                <div class="more-wrapper">
                                                    <div class="more-wrapper">
                                                        @if (@userBadge != null)
                                                        {
                                                            <span>Goted</span>
                                                        }
                                                        else
                                                        {
                                                            <span>Locked</span>
                                                        }
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="project-box-content-header">
                                                <img src="@("~/images/badges/" + badge.ImageUrl)" asp-append-version="true" alt="badge" />
                                            </div>
                                            <div class="project-box-footer">
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="messages-section">
            <button class="messages-close">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-x-circle">
                    <circle cx="12" cy="12" r="10" />
                    <line x1="15" y1="9" x2="9" y2="15" />
                    <line x1="9" y1="9" x2="15" y2="15" />
                </svg>
            </button>
            <div class="projects-section-header">
                <p>Events</p>
            </div>
            <div class="messages">
                @{
                    foreach (var pupUpEvent in events)
                    {
                        <div class="message-box">
                            <img src="@("~/images/profils/" + pupUpEvent.User.ProfilImageUrl)" asp-append-version="true" alt="profile image">
                            <div class="message-content">
                                <div class="message-header">
                                    <div class="name">@pupUpEvent.User.Name</div>
                                </div>
                                <p class="message-line">
                                    @pupUpEvent.Desc
                                </p>
                                <p class="message-line time">
                                    @Html.FormatValue(pupUpEvent.Time, "{0:yyyy:MM:dd}");
                                </p>
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>

@section Scripts {
<script src='~/js/site_profil.js'></script>
}