@model PupUp.Models.Quests.Quest

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Quest</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredQuests)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RequiredQuests)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TrainingIds)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TrainingIds)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Repetable)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Repetable)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ActionType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ActionType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RewardType)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RewardType)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RewardValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RewardValue)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
