@model IEnumerable<PupUp.Models.Quests.Quest>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Styles {
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css" />
<link rel="stylesheet" href="~/css/site_trainings.css" />
}
<div id="demo" class="col-12">
    <div class="d-flex justify-content-center align-items-center">
        <h1>Quests</h1>
        <a asp-action="Create" style="font-size: xx-large; margin-left: 5px;">
            <i class="fa-solid fa-plus"></i>
        </a>
    </div>
    <!-- Responsive table starts here -->
    <!-- For correct display on small screens you must add 'data-title' to each 'td' in your table -->
    <div class="table-responsive-vertical">
        <!-- Table starts here -->
        <table id="table" class="table table-hover table-mc-light-blue">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>RequiredQuests</th>
                    <th>TrainingIds</th>
                    <th>Repetable</th>
                    <th>ActionType</th>
                    <th>RewardType</th>
                    <th>RewardValue</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var quest in Model)
                    {
                        <tr>
                            <td data-title="Id">@quest.Id</td>
                            <td data-title="Name">@quest.Name</td>
                            <td data-title="Description">@quest.Description</td>
                            <td data-title="RequiredQuests">@quest.RequiredQuests</td>
                            <td data-title="TrainingIds">@quest.TrainingIds</td>
                            <td data-title="Repetable">@quest.Repetable</td>
                            <td data-title="ActionType">@quest.ActionType</td>
                            <td data-title="RewardType">@quest.RewardType</td>
                            <td data-title="RewardNum">@quest.RewardValue</td>
                            <td data-title="Action">
                                <a asp-action="Edit" asp-route-id="@quest.Id">Edit</a> | 
                                <a asp-action="Delete" asp-route-id="@quest.Id">Delete</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>
@section Scripts {

<script src='https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js'></script>
<script src='https://cdn.datatables.net/1.10.12/js/dataTables.bootstrap.min.js'></script>
<script src='~/js/site_trainings.js'></script>
}